.contentCards{
    height: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.note{
    border: solid 2px black;
    height: 20rem;
    width: 17rem;
    margin: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noteTitle{
    width: 15rem;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
}
.noteDescription{
    border: none;
    resize: none;
    height: 4rem;
    width: 15rem;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1rem;
    background: #ffff;
}
.contDates{
    width: 15rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.noteDate, .notePriority, .noteState{
    margin-left: .1rem;
    margin-top: .3rem;
}
.containerBoard{
    background: #ffff;
    height: 42.7rem;
    margin-top: 2.8rem;
    display: flex;
}
.column{
    width: 26.2rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noteBoard{
    border: solid 2px black;
    width: 23rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleBoard{
    font-size: 1.5rem;
    font-weight: 600;
}
.titleNote, .descriptionNote{
    width: 20rem;
    font-size: 1rem;
    text-align: center;
    
}
.titleNote{
    text-transform: uppercase;
}
.contFilter{
    height: auto;
    margin-top: 4rem;
    display: flex;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin-right: 1.3rem;
}
.cont{
    display: flex;
    align-items: center;
    width: 25rem;
    margin-right: 2rem;
}
.contentSelect{
    display: flex;
    margin-left: 2rem;
    width: 55rem;
    margin-right: 1.3rem;
}
#expirationDate{
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0rem 1rem 0rem .7rem;
    border-radius:.3rem ;
    color: rgb(163, 160, 157);
    border: solid 2px rgb(182, 179, 177);
    margin-top: .8rem;
    width: 34.5rem;
    height: 3rem;
}
.column--2{
    border-left: 2px solid black;
    border-right: 2px solid black;
}