:root{
    --primary:  #132D46;
    --secundary: #30377d;
    --third: #18878e;
    --fourth: #FFFF;
    --fifth: #ad1b4f;
    --sixth: #e9d7ba;
    --text: #000000;
}

*{
    font-family: sans-serif;
}

body{
    background: var(--primary);
}

.container{
    box-shadow: 0px 0px 10px rgba(223, 221, 221, 0.2);
    background: var(--sixth);
    backdrop-filter: blur(50px);
}

.title{
    font-weight:600;
    font-size: 1.7rem;
    color: var(--text);
}

#button{
    background: var(--primary);
    font-size: 1rem;
    font-weight:600;
    color: #e7dbc9;
    border-radius: .5rem;
}

#link, p{
    color: var(--text);
}

#link:hover{
    text-decoration: underline;
}

.layout{
    justify-content: center;
    align-items: center;
}
